<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="James Sandovals Personal home page and Portfolio.">
    <meta name="author" content="James Sandoval">
    <meta name="google-site-verification" content="RXb2gusWey3s1tzymjdZxAOxUamRIc1uK20Z60jjtnY" />
    <!-- We need to produce a favicon -->
    <link rel="icon" href="/images/favicon.png">
    <title>JamesSandoval.io</title>
    <link href="/css/bootstrap.css" rel="stylesheet">
    <link href="/css/bootstrap-datepicker.css" rel="stylesheet">
    <link href="/css/theme.css" rel="stylesheet">
    <link href="http://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.3/summernote.css" defer="defer" rel="stylesheet">
</head>

<body>
    <nav class="navbar">
        <div class="navbar-header-custom">
            <a href="/"><img src="/images/jslogo1.png" class="nav-logo"></a>
            <div class="navbar-social pull-right">
                <a href="https://www.facebook.com/jes90" target="_blank"><img src="/images/SocialMediaLogos_bw_01.png" alt="1" height="40px" width="40px" id="socialbutton1" class="social"></a><a href="https://github.com/jamessandoval"><img src="/images/SocialMediaLogos_bw_03.png" alt="1" height="40px" width="40px" id="socialbutton4" class="social"></a><a href="https://www.linkedin.com/in/james-sandoval-3a758b1b/"><img src="/images/SocialMediaLogos_bw_04.png" alt="1" height="40px" width="40px" id="socialbutton5" class="social"></a>
            </div>
        </div>
    </nav>
    <nav class="navbar navbar-inverse navbar-static-top" id="userNavigation">
        <div class="nav-container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li><a href="/">Home</a></li>
                    <li><a href="/blog">Blog</a></li>
                    <li><a href="/resume">Resum&egrave;</a></li>
                    {{#unless user}}
                    <!--<li><a href="/register">register</a></li>-->
                    {{/unless}}
                    <li><a href="/about">About</a></li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">More
              <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <!--<li><a href="#">Blog</a></li>-->
                            <li><a href="/user/dashboard">Resources</a></li>
                            <!--<li><a href="#">Photography</a></li>-->
                            <li role="separator" class="divider"></li>
                            <li class="dropdown-header">
                                <h5>Portfolio:</h5></li>
                            <li><a href="/">Home</a></li>
                            <li><a href="https://github.com/jamessandoval">Github</a></li>
                            <li><a href="#">Resume</a></li>
                            <li role="separator" class="divider"></li>
                            {{#if user}}
                            <li><a href="/user/logout">Logout</a></li>
                            {{else}}
                            <li><a href="/user/login">Login</a></li>
                            {{/if}}
                        </ul>
                    </li>
                </ul>
            </div>
            {{#if user}}
            <div class="navbar-collapse collapse nav-user">
                <ul class="nav navbar-nav">
                    {{#if user}}
                    <li><a href="/user/addpost">Add a Post</a></li>
                    <li><a href="/user/dashboard">Dashboard</a></li>
                    <li><a href="/user/controlpanel">Control Panel</a></li>
                    <li><a href="/user/logout">Logout</a></li>
                    {{/if}}  
                </ul>
            </div>
            {{/if}}
            <!--/.nav-collapse -->
        </div>
    </nav>
    {{#if success_msg}}
    <div class="row">
        <div class="col-lg-12">
            <div class="alert alert-success">{{success_msg}}</div>
        </div>
    </div>
    {{/if}} {{#if error_msg}}
    <div class="row">
        <div class="col-lg-12">
            <div class="alert alert-danger">{{error_msg}}</div>
        </div>
    </div>
    {{/if}} {{#if error}}
    <div class="row">
        <div class="col-lg-12">
            <div class="alert alert-danger">{{error}}</div>
        </div>
    </div>
    {{/if}} {{{body}}}
    <footer id="cfooter">
        <div class="container">
            <div class="row">
                <div class="col-sm-12" align="center">
                    <br>
                    <br>
                    <br>
                    <br>
                    <h4 style="color:#F9F7F7">&copy; James Sandoval 2017</h4>
                    <br>
                    <a href="https://www.facebook.com/jes90" target="_blank"><img src="/images/SocialMediaLogos_bw_01.png" alt="1" height="75px" width="75px" id="socialbutton1" class="social"></a><a href="https://github.com/jamessandoval"><img src="/images/SocialMediaLogos_bw_03.png" alt="1" height="75px" width="75px" id="socialbutton4" class="social"></a><a href="https://www.linkedin.com/in/james-sandoval-3a758b1b/"><img src="/images/SocialMediaLogos_bw_04.png" alt="1" height="75px" width="75px" id="socialbutton5" class="social"></a>
                    <br>
                    <br>
                    <br>
                </div>
            </div>
        </div>
    </footer>
</body>

<!-- Bootstrap core JavaScript ================================================== -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js" defer="defer"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" defer="defer"></script>
<script src="/script/bootstrap-datepicker.js" defer="defer"></script>
<script src="/script/summernote.min.js" defer="defer"></script>
<script src="/script/custom.js" defer="defer"></script>
<script src="/script/processing.min.js"></script>
<!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
<script src="/script/ie10-viewport-bug-workaround.js" defer="defer"></script>
<script src="/script/analytics.js" defer="defer"></script>
<!-- include summernote css/js-->
<!-- Include all compiled plugins (below), or include individual files as needed -->

</html>