<!-- Home Page Goes here -->
<div class="container container-fixed">
    <div class="jumbotron" id="blogheading">
        <h1>Hi...</h1>
        <p class="lead"><b>Welcome to my blog.</b></p>
        <br>
    </div>
    <div class="row">
        <div class="col-md-1">
        <br>
            <!--<span class="glyphicon glyphicon-search" style="font-size:.9em; color:#B3B3B3"></span><hr style="padding:0px; margin:0px;">-->
        </div>
        <!-- main body content -->
        <div class="col-md-10">
            {{#each posts}}
            <div class="media">
                <!-- // {{dateFormat now "dddd, MMMM Do YYYY, h:mm:ss a"}} -->
                <a href="/post/{{_id}}" align="right"><h1 class="media-heading pull-left blog-post-heading"><b>{{title}}</b></h1></a>
                <br> {{#if ../user}}
                <br>
                <a href="/user/editpost/{{_id}}">
                    <h4><b>Edit Post</b></h4></a> {{/if}}
                <hr>
                <div style="font-size:13px; padding: 0px; margin:0px; position: relative; top:-10px; display: inline;">
                    <p>Category: <b>{{category}}</b> <span style="float:right; ">{{dateFormat date "dddd, MMMM Do YYYY"}}</span></p>
                </div>
                <div class="media-left">
                    <!--<img class="media-object" src="https://placehold.it/100x100" alt="150x150"></a>
                    </div>-->
                </div>
                <div class="media-body" style="text-align: left;">
                    {{{contentbrief}}} <a href="/post/{{_id}}" style="float:left"><h5><b>Read More...</b></h5></a>
                </div>
            </div>

            {{/each}}
            <br><br>
            
        </div>
        
    </div>
</div>
