<div class="container-fluid ">
    <div class="row" style="padding:5px">
        <!-- main body content -->
        <div class="col-md-8 col-md-offset-2" style="background-color: #ffffff; padding:5px; border:1px sold black">
            <div class="text-left">
            <!-- may have to make custom helper -->
                <a class="text-muted" href="/blog"><span class="glyphicon glyphicon-arrow-left"></span> back</a> {{#posts}}

                <hr>
            </div>
            <div class="media-center">
                <img class="media-object img-responsive" src="/images/webdevelopment900x300.jpg" alt="900x300">
                <br>
                 <h1><b>{{title}}</b></h1>
                 {{#if ../user}}<a href="/user/editpost/{{_id}}">  <h4><b>Edit Post</b></h4></a> {{/if}}
                 <hr>
                <p class="text-muted" ><small style="float:left; font-size: 12px;">Category: <b>{{category}}</b></small><small style="float: right; font-size: 12px;">Posted on {{dateFormat date "Do MMMM YYYY"}} by James Sandoval</small></p>
                <br>
               
                <div class="text-left">
                    {{{contentbrief}}}
                    {{{contentsummary}}}
                </div>
            </div>
            {{/posts}}
            <!--
            <div class="media">
                <div class="media-left">
                    <a href="#">
                        <img class="media-object" src="https://placehold.it/75x75" alt="75x75">
                    </a>
                </div>
                <div class="media-body" style="text-align: left;">
                    <textarea class="form-control" rows="3"></textarea>
                    <br>
                    <input class="btn btn-primary" type="button" value="Sign in to make a comment">
                </div>
            </div>
            <hr>
            <div class="media">
                <div class="media-left">
                    <a href="#">
                        <img class="media-object" src="https://placehold.it/75x75" alt="75x75">
                    </a>
                </div>
                <div class="media-body" style="text-align: left;">
                    <h4>Billy Mcbillersons</h4>
                    <p class="text-left">Just a little comment ya jerko.s</p>
                    <a href="#" class="text-muted"><span class="glyphicon glyphicon-plus"></span> Reply</a>
                    <div class="media">
                        <div class="media-left">
                            <a href="#">
                                <img class="media-object" src="https://placehold.it/75x75" alt="75x75">
                            </a>
                        </div>
                        <div class="media-body" style="text-align: left;">
                            <h4>Tommy Chongerdonger</h4>
                            <p class="text-left">be nice Billy, you're a troll</p>
                            <a href="#" class="text-muted"><span class="glyphicon glyphicon-plus"></span> Reply</a>
                        </div>
                    </div>
                </div>
            </div>-->
        </div>
        <div class="col-md-2"></div>
    </div>
</div>
